<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Moyses
                <span class="text-primary">Thomaz</span>
            </h1>
            <div class="subheading mb-5">
                ITU, SÃO PAULO - BRAZIL ·
                <a href="mailto:name@email.com">moyses.th@gmail.com</a>
            </div>
            <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/moysesthomaz/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/moysesth"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0">
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Sales Executive</h3>
                    <div class="subheading mb-3">Share RH</div>
                    <p>Apresentação dos produtos, desenvolver a proposta para cada cliente e sua necessidade.
                        Relacionamento para gerar oportunidades de up-sell e cross-sell. Responsável por manter o CRM
                        com todo o histórico, atualizando os KPI’s comerciais.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2021 - December 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Customer Success Executive</h3>
                    <div class="subheading mb-3">99jobs</div>
                    <p>Responsável pelo acompanhamento e relacionamento com os clientes. Responsável por promover
                        treinamentos para os usuários. Acompanhamento semanal das métricas com os clientes. Principal
                        ponto de contato entre o time de desenvolvimento e o cliente, levando as sugestões e bugs para
                        as reuniões de sprint. Acompanhamento do cronograma de correções.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2019 - September 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Customer Success Analist</h3>
                    <div class="subheading mb-3">Somos Educação</div>
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking
                        seamless key performance indicators offline to maximise the long tail. Keeping your eye on the
                        ball while performing a deep dive on the start-up mentality to derive convergence on
                        cross-platform integration.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2016 - December 2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0">
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">PUC - SP</h3>
                    <div class="subheading mb-3">Bachelor of Business Administration</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2012 - December 2015</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Fundação Getúlio Vargas</h3>
                    <div class="subheading mb-3">Liderança para Jovens Talentos</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2017 - May 2017</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Envirotech - Austrália</h3>
                    <div class="subheading mb-3">Project Management</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2018 - June 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Anhembi Morumbi</h3>
                    <div class="subheading mb-3">Pós em Negociação e Vendas</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2020 - June 2022</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0">
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <!-- <li class="list-inline-item"><i class="fab fa-react"></i></li> -->
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <!-- <li class="list-inline-item"><i class="fab fa-sass"></i></li> -->
                <!-- <li class="list-inline-item"><i class="fab fa-less"></i></li> -->
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <!-- <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li> -->
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0">
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </section>
    <hr class="m-0">
    <!-- Awards
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section> -->
</div>